
/*tab bar*/
#button.active{
    background-color: aliceblue;
}



.tabbar{
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #e56a9bff;
    align-items: center;
    border-radius: 20%;
    cursor: pointer;
}
.tab{
    flex: 1;
    padding: 15px;
    border: none;
    background: none;
    font-size: 16px;

}
.tab-content{
    display: none;
    padding: 20px;
    margin-bottom: 10px;
}
.tab-content.active{
    display: block;
}


/* window initial*/

.screen {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.screen.active {
  display: flex;
}
#enter-btn{
  padding: 4% 8%;
  font-size: 20px;
  color: white;
  background-color:#e56a9bff;
  width: 35%;
  height: 7%;
  border-radius: 30%;
  
}
#subtitulo{
    font-size: 15%;
    margin-top: 15%;
    font-weight: "bold";
    text-align: center;
    position: absolute;
    color:#0000007a;
}
#logo{
    width: 70%;
    height: auto;
}
 /*card*/
 .card{
    background-color: aqua;
 }

